<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Outside - Minimalist Ecommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    
    
    <!-- All CSS Files -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="./public/shop_static/css/bootstrap.min.css">
    <!-- Icon Font -->
    <link rel="stylesheet" href="./public/shop_static/css/font-awesome.min.css">
    <link rel="stylesheet" href="./public/shop_static/css/pe-icon-7-stroke.css">
    <!-- Plugins css file -->
    <link rel="stylesheet" href="./public/shop_static/css/plugins.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="./public/shop_static/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="./public/shop_static/css/responsive.css">

    <!-- Modernizr JS -->
    <script src="./public/shop_static/js/modernizr-2.8.3.min.js"></script>

    <script src="./public/shop_static/js/login.js"></script>

    <script src="./public/shop_static/js/index-products.js"></script>
    
</head>

<body>

<!-- Body main wrapper start -->
<div class="wrapper">

    <!-- START HEADER SECTION -->
    <header class="header-section section sticker">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <!-- logo -->
                    <div class="header-logo">
                        <a href="/index"><img src="./public/shop_static/picture/logo.png" alt="main logo"></a>
                    </div>
                </div>
                <div class="col-auto d-flex">
                    <!-- header-search & total-cart -->
                    <nav class="main-menu">
                        <ul>
                            <li><a href="/index">Home</a>
                                <!-- <ul class="sub-menu">
                                    <li><a href="">Home one</a></li>
                                    <li><a href="index-2.html">Home two</a></li>
                                    <li><a href="index-3.html">Home three</a></li>
                                </ul> -->
                            </li>
                            <li><a href="/shop">shop</a>
                                <!-- <ul class="sub-menu">
                                    <li><a href="shop.html">shop</a></li>
                                    <li><a href="product-details.html">product details</a></li>
                                </ul> -->
                            </li>
                        </ul>
                    </nav>
                    <!-- header-search & total-cart -->
                    <div class="header-option-btns d-flex">
                        <!-- header-search -->
                        <div class="header-search" id="login-name">
                            <!-- <div>HI,XXX</div> -->
                            <!-- <script>login_function("{{email}}","{{name}}");</script> -->
                        </div>
                        <!-- header Account -->
                        <div class="header-account">
                            <ul>
                                <li><a href="#" class="account-toggle"><i class="pe-7s-config"></i></a>
                                    <ul class="account-menu" id="accountmenu">
                                        <script>login_function("{{email}}","{{name}}");</script>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Header Cart -->
                        <div class="header-cart">
                            <!-- Cart Toggle -->
                            <a class="cart-toggle" href="#">
                                <i class="pe-7s-cart"></i>
                                <span id="carts_amount">0</span>
                            </a>
                            <!-- Mini Cart Brief -->
                            <div class="mini-cart-brief text-left">
                                <!-- Cart Products -->
                                <div class="all-cart-product clearfix" id="cart-products">
                                </div>
                                <!-- Cart Total -->
                                <div class="cart-totals" id="cart-total">
                                    <h5>Total <span>$ 0</span></h5>
                                </div>
                                <!-- Cart Button -->
                                <div class="cart-bottom  clearfix">
                                    <a href="/checkout">Check out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu"></div>
            </div>
        </div>
    </header>
    <!-- END HEADER SECTION -->

    <!-- START SLIDER SECTION -->
    <div class="home-slider-section section">
        <!-- Home Slider -->
        <div id="home-slider" class="slides">   
            <img src="./public/shop_static/picture/1_ori.jpg" alt="" title="#slider-caption-1">
            <img src="./public/shop_static/picture/2.jpg" alt="" title="#slider-caption-2">
        </div>
        <!-- Caption 1 -->
        <div id="slider-caption-1" class="nivo-html-caption">
            <div class="container">
                <div class="row">
                    <div class="hero-slider-content col-sm-8 col-xs-12">
                        <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Welcome</h1>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">歡迎光臨 </p>
                        <!-- <a href="product-details.html" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">shop now</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Caption 2 -->
        <div id="slider-caption-2" class="nivo-html-caption">
            <div class="container">
                <div class="row">
                    <div class="hero-slider-content col-sm-8 col-xs-12">
                        <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Welcome</h1>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">歡迎光臨 </p>
                        <!-- <a href="product-details.html" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">shop now</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SLIDER SECTION -->
        
    <!-- PRODUCT SECTION START -->
    <div class="product-section section pt-120 pb-120">
        <div class="container">
        
            <div class="row justify-content-between">
                <!-- Isotop Product Filter -->
                <div class="isotope-product-filter col-auto">
                    <!-- <button class="active" data-filter="*">all</button> -->
                    <!-- <button data-filter=".chair">chair</button>
                    <button data-filter=".ptable">table</button>
                    <button data-filter=".home-decor">home decor</button>
                    <button data-filter=".lighting">lighting</button> -->
                </div>
                <!-- Product Filter Toggle -->
                <div class="col-auto">
                    <!-- <button class="product-filter-toggle">filter</button> -->
                </div>
            </div>
            
            <!-- Product Filter Wrapper -->
            <div class="row">
                <div class="col-12">
                    <div class="product-filter-wrapper">
                        <div class="row">
                            <!-- Product Filter -->
                            <div class="product-filter col-lg-3 col-md-6 col-12 mb-30">
                                <h5>Sort by</h5>
                                <ul class="sort-by">
                                    <li><a href="#">Default</a></li>
                                    <li><a href="#">Newness</a></li>
                                    <li><a href="#">Price: Low to High</a></li>
                                    <li><a href="#">Price: High to Low</a></li>
                                </ul>
                            </div>
                            <!-- Product Filter -->
                            <div class="product-filter col-lg-3 col-md-6 col-12 mb-30">
                                <h5>Filter by price</h5>
                                <div id="price-range"></div>
                                <div class="price-values">
                                    <span>Price:</span>
                                    <input type="text" class="price-amount">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="isotope-grid row" id="index-products">
                <!-- Product Item Start -->
                <div class="isotope-item chair home-decor col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
                    <div class="product-item text-center">
                        <!-- Product Image -->
                        <div class="product-img">
                            <!-- Image -->
                            <a class="image" href="product-details.html"><img src="./public/shop_static/picture/110.jpg" alt=""></a>
                            <!-- Wishlist Button -->
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <!-- Action Button -->
                            <div class="action-btn fix">
                                <!-- <a href="#" data-bs-toggle="modal"  data-bs-target="#" title="Quick View"></a> -->
                                <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="pe-7s-look"></i>Quick view</a> -->
                                <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i>add to cart</a>
                            </div>
                        </div>
                        <!-- Portfolio Info -->
                        <div class="product-info text-left">
                            <!-- Title -->
                            <h5 class="title" id="first"><a href="product-details.html">一號產品</a></h5>
                            <!-- Price Ratting -->
                            <div class="price-ratting fix">
                                <span class="price float-start"><span class="new">€169.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="isotope-item ptable col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
                    <div class="product-item text-center">
                        <!-- Product Image -->
                        <div class="product-img">
                            <!-- Image -->
                            <a class="image" href="product-details.html"><img src="./public/shop_static/picture/26.jpg" alt=""></a>
                            <!-- Wishlist Button -->
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <!-- Action Button -->
                            <div class="action-btn fix">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i>add to cart</a>
                            </div>
                        </div>
                        <!-- Portfolio Info -->
                        <div class="product-info text-left">
                            <!-- Title -->
                            <h5 class="title"><a href="product-details.html">DSR Eiffel chair</a></h5>
                            <!-- Price Ratting -->
                            <div class="price-ratting fix">
                                <span class="price float-start"><span class="new">€137.00</span></span>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="isotope-item lighting col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
                    <div class="product-item text-center">
                        <!-- Product Image -->
                        <div class="product-img">
                            <!-- Image -->
                            <a class="image" href="product-details.html"><img src="./public/shop_static/picture/8.jpg" alt=""></a>
                            <!-- Wishlist Button -->
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <!-- Action Button -->
                            <div class="action-btn fix">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i>add to cart</a>
                            </div>
                        </div>
                        <!-- Portfolio Info -->
                        <div class="product-info text-left">
                            <!-- Title -->
                            <h5 class="title"><a href="product-details.html">pendant lights</a></h5>
                            <!-- Price Ratting -->
                            <div class="price-ratting fix">
                                <span class="price float-start"><span class="new">€245.00</span></span>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="isotope-item ptable home-decor col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
                    <div class="product-item text-center">
                        <!-- Product Image -->
                        <div class="product-img">
                            <!-- Image -->
                            <a class="image" href="product-details.html"><img src="./public/shop_static/picture/3.jpg" alt=""></a>
                            <!-- Wishlist Button -->
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <!-- Action Button -->
                            <div class="action-btn fix">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i>add to cart</a>
                            </div>
                        </div>
                        <!-- Portfolio Info -->
                        <div class="product-info text-left">
                            <!-- Title -->
                            <h5 class="title"><a href="product-details.html">3d laser cut models</a></h5>
                            <!-- Price Ratting -->
                            <div class="price-ratting fix">
                                <span class="price float-start"><span class="new">€185.00</span></span>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="isotope-item chair lighting col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
                    <div class="product-item text-center">
                        <!-- Product Image -->
                        <div class="product-img">
                            <!-- Image -->
                            <a class="image" href="product-details.html"><img src="./public/shop_static/picture/4.jpg" alt=""></a>
                            <!-- Wishlist Button -->
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <!-- Action Button -->
                            <div class="action-btn fix">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i>add to cart</a>
                            </div>
                        </div>
                        <!-- Portfolio Info -->
                        <div class="product-info text-left">
                            <!-- Title -->
                            <h5 class="title"><a href="product-details.html">carl hansen ch25</a></h5>
                            <!-- Price Ratting -->
                            <div class="price-ratting fix">
                                <span class="price float-start"><span class="new">€245.00</span></span>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="isotope-item chair col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
                    <div class="product-item text-center">
                        <!-- Product Image -->
                        <div class="product-img">
                            <!-- Image -->
                            <a class="image" href="product-details.html"><img src="./public/shop_static/picture/5.jpg" alt=""></a>
                            <!-- Wishlist Button -->
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <!-- Action Button -->
                            <div class="action-btn fix">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i>add to cart</a>
                            </div>
                        </div>
                        <!-- Portfolio Info -->
                        <div class="product-info text-left">
                            <!-- Title -->
                            <h5 class="title"><a href="product-details.html">DSR Eiffel chair</a></h5>
                            <!-- Price Ratting -->
                            <div class="price-ratting fix">
                                <span class="price float-start"><span class="new">€137.00</span></span>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="isotope-item ptable col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
                    <div class="product-item text-center">
                        <!-- Product Image -->
                        <div class="product-img">
                            <!-- Image -->
                            <a class="image" href="product-details.html"><img src="./public/shop_static/picture/6.jpg" alt=""></a>
                            <!-- Wishlist Button -->
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <!-- Action Button -->
                            <div class="action-btn fix">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i>add to cart</a>
                            </div>
                        </div>
                        <!-- Portfolio Info -->
                        <div class="product-info text-left">
                            <!-- Title -->
                            <h5 class="title"><a href="product-details.html">Retro chairs</a></h5>
                            <!-- Price Ratting -->
                            <div class="price-ratting fix">
                                <span class="price float-start"><span class="new">€169.00</span></span>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
                <!-- Product Item Start -->
                <div class="isotope-item home-decor lighting col-xl-3 col-lg-4 col-md-6 col-12 mb-50">
                    <div class="product-item text-center">
                        <!-- Product Image -->
                        <div class="product-img">
                            <!-- Image -->
                            <a class="image" href="product-details.html"><img src="./public/shop_static/picture/7.jpg" alt=""></a>
                            <!-- Wishlist Button -->
                            <a class="wishlist" href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <!-- Action Button -->
                            <div class="action-btn fix">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i>Quick view</a>
                                <a href="#" title="Add to Cart"><i class="pe-7s-cart"></i>add to cart</a>
                            </div>
                        </div>
                        <!-- Portfolio Info -->
                        <div class="product-info text-left">
                            <!-- Title -->
                            <h5 class="title"><a href="product-details.html">kichler pendant light</a></h5>
                            <!-- Price Ratting -->
                            <div class="price-ratting fix">
                                <span class="price float-start"><span class="new">€185.00</span></span>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Item End -->
            </div>
            
            <!-- <div class="row">
                <div class="text-center col-12 mt-30">
                    <a href="/shop" class="btn load-more-product">load more</a>
                </div>
            </div> -->
            
        </div>
    </div>
    <!-- PRODUCT SECTION END -->

    <!-- FOOTER TOP SECTION START -->
    
    <!-- FOOTER TOP SECTION END -->  

    <!-- FOOTER BOTTOM SECTION START -->

    <!-- FOOTER BOTTOM SECTION END -->  


    <!-- QUICK VIEW MODAL START-->
    <div class="modal fade" id="quickViewModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- QuickView Product Images -->
                    <div class="col-xl-5 col-md-6 col-12 mb-40">	
                        <!-- Tab panes -->
                        <div class="tab-content mb-10">
                            <div class="pro-large-img tab-pane active" id="pro-large-img-1">
                                <img src="./public/shop_static/picture/26.jpg" alt="">
                            </div>
                            <div class="pro-large-img tab-pane" id="pro-large-img-2">
                                <img src="./public/shop_static/picture/110.jpg" alt="">
                            </div>
                            <div class="pro-large-img tab-pane" id="pro-large-img-3">
                                <img src="./public/shop_static/picture/3.jpg" alt="">
                            </div>
                            <div class="pro-large-img tab-pane" id="pro-large-img-4">
                                <img src="./public/shop_static/picture/4.jpg" alt="">					
                            </div>
                            <div class="pro-large-img tab-pane" id="pro-large-img-5">
                                <img src="./public/shop_static/picture/5.jpg" alt="">
                            </div>
                        </div>
                        <!-- QuickView Product Thumbnail Slider -->
                        <div class="pro-thumb-img-slider nav">
                            <div><a href="#pro-large-img-1" class="active" data-bs-toggle="tab"><img src="./public/shop_static/picture/26.jpg" alt=""></a></div>
                            <div><a href="#pro-large-img-2" data-bs-toggle="tab"><img src="./public/shop_static/picture/110.jpg" alt=""></a></div>
                            <div><a href="#pro-large-img-3" data-bs-toggle="tab"><img src="./public/shop_static/picture/3.jpg" alt=""></a></div>
                            <div><a href="#pro-large-img-4" data-bs-toggle="tab"><img src="./public/shop_static/picture/4.jpg" alt=""></a></div>
                            <div><a href="#pro-large-img-5" data-bs-toggle="tab"><img src="./public/shop_static/picture/5.jpg" alt=""></a></div>
                        </div>
                    </div>
                    <!-- QuickView Product Details -->
                    <div class="col-xl-7 col-md-6 col-12 mb-40">
                        <div class="product-details section">
                            <!-- Title -->
                            <h1 class="title">DSR Eiffel chair</h1>
                            <!-- Price Ratting -->
                            <div class="price-ratting section d-flex flex-column flex-sm-row justify-content-between">
                                <!-- Price -->
                                <span class="price"><span class="new">€ 120.00</span></span>
                                <!-- Ratting -->
                                <span class="ratting">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <span> (01 Customer Review)</span>
                                </span>
                            </div>
                            <!-- Short Description -->
                            <div class="short-desc section">
                                <h5 class="pd-sub-title">Quick Overview</h5>
                                <p>There are many variations of passages of Lorem Ipsum avaable, b majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. make an ami jani na.</p>
                            </div>
                            <!-- Product Size -->
                            <div class="product-size section">
                                <h5 class="pd-sub-title">Select Size</h5>
                                <button>s</button>
                                <button class="active">m</button>
                                <button>x</button>
                                <button>xl</button>
                            </div>
                            <!-- Product Color -->
                            <div class="color-list section">
                                <h5 class="pd-sub-title">Select Color</h5>
                                <button class="active" style="background-color: #51bd99;"><i class="fa fa-check"></i></button>
                                <button style="background-color: #ff7a5f;"><i class="fa fa-check"></i></button>
                                <button style="background-color: #baa6c2;"><i class="fa fa-check"></i></button>
                                <button style="background-color: #414141;"><i class="fa fa-check"></i></button>
                            </div>
                            <!-- Quantity Cart -->
                            <div class="quantity-cart section">
                                <div class="product-quantity">
                                    <input type="text" value="0">
                                </div>
                                <button class="add-to-cart">add to cart</button>
                            </div>
                            <!-- Usefull Link -->
                            <ul class="usefull-link section">
                                <li><a href="#"><i class="pe-7s-mail"></i> Email to a Friend</a></li>
                                <li><a href="#"><i class="pe-7s-like"></i> Wishlist</a></li>
                                <li><a href="#"><i class="pe-7s-print"></i> print</a></li>
                            </ul>
                            <!-- Share -->
                            <div class="share-icons section">
                                <span>share :</span>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- QUICK VIEW MODAL END-->

</div>
<!-- Body main wrapper end -->



<!-- Placed JS at the end of the document so the pages load faster -->

<!-- jQuery latest version -->
<script src="./public/shop_static/js/jquery-3.6.0.min.js"></script>
<script src="./public/shop_static/js/jquery-migrate.min.js"></script>
<!-- Bootstrap js -->
<script src="./public/shop_static/js/bootstrap.bundle.min.js"></script>
<!-- Plugins js -->
<script src="./public/shop_static/js/plugins.js"></script>
<!-- Ajax Mail js -->
<script src="./public/shop_static/js/ajax-mail.js"></script>
<!-- Main js -->
<script src="./public/shop_static/js/main.js"></script>



	
</body>

</html>