<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xs-12 mb-20">
                <label for="r_f_name">產品名稱 <span class="required">*</span></label>										
                <input id="r_f_name" type="text" name="product-name" required>
            </div>
            <div class="col-sm-6 col-xs-12 mb-20">
                <label for="r_l_name">價格 <span class="required">*</span></label>									
                <input id="r_l_name" type="text" name="product-price" required>
            </div>
            <div class="col-sm-6 col-xs-12 mb-20">
                <label for="r_l_name">數量 <span class="required">*</span></label>									
                <input id="r_l_name" type="text" name="product-amount" required>
            </div>
            <div class="col-xs-12 mb-20">
                <label for="r_c_name">圖片<span class="required">*</span></label>										
                <input id="r_c_name" type="file" accept="image/*" name="file">
            </div>
            <div class="col-xs-12 mb-20">
                <label for="r_c_name">產品描述<span class="required">*</span></label>								
                <input id="description-shelves" type="text" name="product-description" required>
            </div>
            <div class="col-xs-12">
                <input value="上架" type="submit">
            </div>
        </div>
    </form>
</body>
</html>